* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  /* overflow: hidden; */
}

nav {
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 6px 0px #0000003b;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

ul {
  padding: 0;
  display: flex;
  gap: 15px;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
}

li > a {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #2f2f2f;
  cursor: pointer;
}

.username {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.username button {
  font-size: 15px;
  background-color: #baf0fa;
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 6px 0px #0000003b;
  cursor: pointer;
}

.username a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
}

.leftDiv {
  font-family: "Lato", sans-serif;
  padding: 50px 80px;
  margin: 20px 0px;
}

.leftDiv p:nth-child(1) {
  font-size: 60px;
  font-weight: 700;
  color: #1f1f1fa2;
  line-height: 90px;
}

.leftDiv p:nth-child(2) {
  line-height: 30px;
  color: #1f1f1fa2;
}

.leftDiv p span {
  color: #2eb5fd;
}

.rightDiv img {
  width: 50vw;
  height: 80vh;
  object-fit: contain;
}

.leftDiv button {
  font-size: 15px;
  color: white;
  background-color: #2eb5fd;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
  border: none;
  box-shadow: 1px 1px 4px 0px #00000069;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .logo {
    font-size: 16px;
  }

  li > a {
    font-size: 14px;
  }

  .leftDiv {
    padding: 30px 40px;
  }

  .leftDiv p:nth-child(1) {
    font-size: 40px;
    line-height: 60px;
  }

  .leftDiv p:nth-child(2) {
    font-size: 14px;
  }

  .rightDiv img {
    width: 40vw;
    height: 60vh;
  }

  main {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 10px 20px;
  }

  .nav {
    display: none;
  }

  .logo {
    width: auto;
    font-size: 14px;
  }

  .username {
    width: auto;
  }

  .username button {
    font-size: 12px;
    padding: 8px;
  }

  main {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .leftDiv {
    padding: 20px;
    text-align: center;
  }

  .leftDiv p:nth-child(1) {
    font-size: 38px;
    line-height: 40px;
  }

  .leftDiv p:nth-child(2) {
    font-size: 15px;
    line-height: 20px;
  }

  .leftDiv button {
    font-size: 15px;
    padding: 15px;
  }

  .rightDiv img {
    width: 80vw;
    height: auto;
  }
}
